/* src/App.css */
body {
    background-color: #f8fafc; /* Un gris muy claro que combina con tu theme.js */
    margin: 0;
    padding: 0;
}

/* Scrollbar estilizada para un toque extra */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6366f1; /* Tu color primario */
}